@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050505;
  --foreground: #ededed;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-width: none;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  color: var(--foreground);
  background: var(--background);
  overflow-x: hidden;
}

::selection {
  background: rgba(255, 255, 255, 0.15);
  color: #fff;
}
